@import 'nib'
@import 'jeet'

global-reset()

body,html,.appl,.index
  height: 100%
  min-height: 100%

.index
  background: white

header
  background: #cacaca
  min-height: 100%
  text-align: center